<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="여기가 메인 페이지임">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entry:오늘의 학교</title>
    <link rel="stylesheet" href="css/home.css">

</head>

<body>
    <header>
        <br , style="height: 100;"/>
        <h1 id="title">entry  :  학교소식</h1>
        <br , style="height: 100;"/>
        <div class="search">
            <form>
                <input type="text" name="search"><input type="submit" value="검색">
            </form>
        </div>
    </header>    
        
    <main>
        <nav>

            <ul>
            <li><a href="#">메인</a></li>
            <li><a href="#">카페</a></li>
            <li><a href="#">학식</a></li>
            <li><a href="#">스쿨버스</a></li>
 <!--이거 nav바 5개 체우려고 그냥 넣은것. 모델 짠 뒤에 수정가능함-->
            <li><a href="#">학교건물</a></li>
            </ul>

        </nav>
        
       <article>
        <div>
                <img src="css/kmu.png">
            </div>

        </article>
    
        <div class="main-container">

        </div>
 
    </main>
    

    <footer>
        <p>세부사항</p>
    </footer>

</body>
</html>